<input type="hidden" class="url" data-url="<?= $url ?>">
<h1>Pokémon Battle</h1>

<?php if(!isset($_GET['pokemon'])) : ?>
<div class="">
    <div class="install-warning mb-8">
        <p>Il faut sélectionner un pokémon avant de se battre !
        <br>Vas en attraper-un !!</p>
    </div>
    <div class="more">
        <a class="btn btn-more" href="index.php?page=pokemon">Choisir un Pokémon</a>
    </div>
</div>
<?php endif ?>

<?php if(isset($_GET['pokemon'])) : ?>
<div class="score mb-8">
    <div class="player-score">Joueur : 100</div>
    <button class="action">GO !</button>
    <div class="computer-score">Ordinateur : 2</div>
</div>
<div class="presentation">
    <div class="player-pokemon" data-id="<?= $_GET['pokemon'] ?>">
        <img src="" alt="">
    </div>
    <div class="computer-pokemon">
        <img src="" alt="">
    </div>
    <div class="versus">
        <img src="www/images/versus.png">
    </div>
</div>

<?php endif ?>

<?php if(isset($_GET['pokemon'])) : ?>
<script src="www/js/battle/utilities.js"></script>
<script src="www/js/battle/battle.js"></script>
<script src="www/js/battle/main-battle.js"></script>
<?php endif ?>
