<input type="hidden" class="url" data-url="<?= $url ?>">
<h1>Pokémon Battle</h1>

<?php if(!isset($_GET['pokemon'])) : ?>
<div class="">
    <div class="install-warning mb-8">
        <p>Il faut sélectionner un pokémon avant de se battre !
        <br>Vas en attraper-un !!</p>
    </div>
    <div class="more">
        <a class="btn btn-more" href="index.php?page=pokemon">Choisir un Pokémon</a>
    </div>
</div>
<?php endif ?>
<?php if(isset($_GET['pokemon'])) : ?>
<div class="howto">
    <button type="button" class="howto-button mb-8">Comment jouer</button>
    <div class="content-full howto-content hide">
        <p>Pour jouer, il faut cliquer/appuyer:</p>
        <ul>
            <li>Avoir choisi un pokémon.</li>
            <li>Appuyer sur le bouton <span>GO</span></li>
            <li>Cliquer sur l'image du pokémon adverse pour l'attaquer.</li>
        </ul>
        <p>Cela recharge également la barre d'énergie qui permet d'activer l'attaque chargée.
            Celle-ci deviendra opaque une fois chargée.</p>
        <p>Il suffira de cliquer sur l'image de l'attaque chargée
            (qui se trouve entre les deux pokémons) pour lancer l'attaque.</p>
    </div>
</div>
<div class="score mb-8">
    <div class="player-score">Joueur : <span></span></div>
    <button class="action">GO !</button>
    <div class="computer-score">Ordinateur : <span></span></div>
</div>
<div class="presentation">
    <div class="presentation-player" data-id="<?= $_GET['pokemon'] ?>">
        <div class="presentation-player-img">
            <img src="" alt="">
        </div>
        <div class="presentation-player-details">
            <div class="presentation-player-type"></div>
            <div class="presentation-player-name"></div>
            <div class="presentation-player-pc"></div>
        </div>
    </div>
    <div class="versus-separator"></div>
    <div class="presentation-computer">
        <div class="presentation-computer-details">
            <div class="presentation-computer-type"></div>
            <div class="presentation-computer-name"></div>
            <div class="presentation-computer-pc"></div>
        </div>
        <div class="presentation-computer-img">
            <img src="" alt="">
        </div>
    </div>
    <div class="versus">
        <img src="www/images/versus.png">
    </div>
</div>
<div class="arena hide">
    <div class="arena-life">
        <div class="player-life">
            <div class="player-details">
                <div class="player-type"></div>
                <div class="player-name"></div>
            </div>
            <div class="player-bar">
                <progress class="player-hp" max="" value=""></progress>
            </div>
        </div>
        <div class="computer-life">
            <div class="computer-details">
                <div class="computer-name"></div>
                <div class="computer-type"></div>
            </div>
            <div class="computer-bar">
                <progress class="computer-hp" max="" value=""></progress>
            </div>
        </div>
    </div>
    <div class="arena-battle">
        <div class="player-pokemon">
            <img src="" alt="">
        </div>
        <div class="player-attack">
            <img src="" alt="">
        </div>
        <div class="computer-pokemon">
            <img src="" alt="">
        </div>
    </div>
    <div class="counter hide">
        <img class="fw-counter-3" src="www/images/battle-counter-3.png">
        <img class="fw-counter-2" src="www/images/battle-counter-2.png">
        <img class="fw-counter-1" src="www/images/battle-counter-1.png">
        <img class="fw-counter-0" src="www/images/battle-counter-go.png">
    </div>
</div>
<div class="result hide">
    <div class="winner">
        <p><span></span> a gagné !</p>
        <img src="" alt="">
    </div>
    <div class="links">
        <button type="button" class="replay">Rejouer</button>
        <a href="index.php?page=pokemon" class="change">Changer de pokémon</a>
    </div>
</div>

<?php endif ?>

<?php if(isset($_GET['pokemon'])) : ?>
<script src="www/js/battle/utilities.js"></script>
<script src="www/js/battle/battle.js"></script>
<script src="www/js/battle/main-battle.js"></script>
<?php endif ?>
