<h1>Pokémon list</h1>
<section class="content">
    <id class="types">
        <?php foreach($types as $type): ?>
        <img src="<?= $type['img'] ?>" alt="<?= $type['name']['fr'] ?>" title="<?= $type['name']['fr'] ?>">
        <div class="center"><?= $type['name']['fr'] ?></div>
        <?php endforeach ?>
    </id>
    <id class="pokemons">
        <?php foreach($pokemons as $pokemon): ?>
        <div class="pokemon">
            <img style="width: 45px; height: auto" src="<?= $pokemon['image'] ?>" alt="<?= $pokemon['name']['fr'] ?>" title="<?= $pokemon['name']['fr'] ?>">
            <div class=""><?= $pokemon['name']['fr'] ?></div>
            <div class="id"><?= $pokemon['id'] ?></div>
            <div class="pokedex"><?= $pokemon['pokedex']['name'] ?></div>
            <div class="type">
                <?php foreach($pokemon['type'] as $pokemonType) : ?>
                <span><?= $pokemonType['name']['fr'] ?></span>
                <?php endforeach ?>
            </div>
        </div>
        <?php endforeach ?>
    </id>
</section>

