<h1>Liste des Pokémons</h1>
<section class="content-pokemon">
    <div class="search">
        <h3>Recherche</h3>
        <a href="index.php?page=pokemon">Liste complète</a>
        <hr>
        <h3 class="types-title">Types</h3>
        <hr>
        <div class="types-list">
        <?php foreach($types as $type): ?>
            <a class="types-img" href="index.php?page=pokemon&type=<?= $type['id'] ?>">
                <img src="<?= $type['img'] ?>" alt="<?= $type['name']['fr'] ?>" title="<?= $type['name']['fr'] ?>">
            </a>
        <?php endforeach ?>
        </div>
        <h3>Pokedex</h3>
        <hr>
        <?php foreach($pokedexes as $pokedex): ?>
            <?php if($pokedex['id'] <= 5) : ?>
            <a href="index.php?page=pokemon&pokedex=<?= $pokedex['id'] ?>">
                <div class="generation"><?= $pokedex['name'] ?></div>
            </a>
            <?php endif ?>
        <?php endforeach ?>
    </div>
    <?php if(!isset($_GET['pokemon'])) : ?>
    <div class="pokemons">
        <?php foreach($pokemons as $pokemon): ?>
            <div class="pokemon">
                <a href="index.php?page=pokemon&pokemon=<?= $pokemon['id'] ?>">
                <img class="avatar" src="<?= $pokemon['image'] ?>" alt="<?= $pokemon['name']['fr'] ?>" title="<?= $pokemon['name']['fr'] ?>">
                </a>
                <div class=""><?= $pokemon['name']['fr'] ?></div>
                <div class="id">#<?= $pokemon['id'] ?></div>
                <div class="pokedex"><?= $pokemon['pokedex']['name'] ?></div>
                <div class="type">
                    <?php foreach($pokemon['type'] as $pokemonType) : ?>
                    <img class="types-img" src="<?= $pokemonType['img'] ?>" alt="<?= $pokemonType['name']['fr'] ?>" title="<?= $pokemonType['name']['fr'] ?>">
                    <?php endforeach ?>
                </div>
            </div>
        <?php endforeach ?>
    </div>
    <?php endif ?>
    <?php if(isset($_GET['pokemon'])) : ?>
    <div class="pokemon-detail">
        <div class="title"><?= $pokemon['name']['fr'] ?></div>
        <div class="specie title"><?= $pokemon['specie']['fr'] ?></div>
        <div class="credential">
            <div class="id">Id : <?= $pokemon['id'] ?></div>
            <div class="order">Order : <?= $pokemon['order'] ?></div>
            <div class="pokedex">Pokedex : <?= $pokemon['pokedex']['name'] ?></div>
        </div>
        <div class="type">
            <?php foreach($pokemon['type'] as $pokemonType) : ?>
            <img class="types-img" src="<?= $pokemonType['img'] ?>" alt="<?= $pokemonType['name']['fr'] ?>" title="<?= $pokemonType['name']['fr'] ?>">
            <?php endforeach ?>
        </div>
        <img class="avatar" src="<?= $pokemon['image'] ?>" alt="<?= $pokemon['name']['fr'] ?>" title="<?= $pokemon['name']['fr'] ?>">
        <div class="title">Statistiques :</div>
        <div class="content-stats">
            <div class="stats">
                <table>
                    <tbody>
                    <tr>
                        <td>Attaque :</td>
                        <td><?= $pokemon['stats_go']['attack'] ?></td>
                    </tr>
                    <tr>
                        <td>Defense :</td>
                        <td><?= $pokemon['stats_go']['defense'] ?></td>
                    </tr>
                    <tr>
                        <td>Vie :</td>
                        <td><?= $pokemon['stats_go']['hp'] ?></td>
                    </tr>
                    <tr>
                        <td>endurance :</td>
                        <td><?= $pokemon['stats_go']['stamina'] ?></td>
                    </tr>
                    <tr>
                        <td>combat :</td>
                        <td><?= $pokemon['stats_go']['pc'] ?></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats">
                <table>
                    <tbody>
                    <tr>
                        <td>taille :</td>
                        <td><?= $pokemon['stats_common']['height'] ?> m</td>
                    </tr>
                    <tr>
                        <td>poids :</td>
                        <td><?= $pokemon['stats_common']['weight'] ?> Kg</td>
                    </tr>
                    <tr>
                        <td>bonbon :</td>
                        <td><?= $pokemon['stats_go']['buddy_walk'] ?> Km</td>
                    </tr>
                    <tr>
                        <td>fuite :</td>
                        <td><?= $pokemon['stats_go']['escape_rate'] ?> %</td>
                    </tr>
                    <tr>
                        <td>capture :</td>
                        <td><?= $pokemon['stats_go']['capture_rate'] ?> %</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="title">Attaques Rapides :</div>
        <div class="attacks">
            <table>
                <thead>
                <tr>
                    <th>type</th>
                    <th>nom</th>
                    <th>dégât</th>
                    <th>dégât/s</th>
                    <th>energie</th>
                    <th>energie/s</th>
                    <th>durée</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($pokemon['fastmove'] as $fastmove) : ?>
                <tr>
                    <td data-title="type"><img src="<?= $fastmove['type']['img'] ?>" alt="<?= $fastmove['type']['name']['fr'] ?>"></td>
                    <td data-title="nom"><?= $fastmove['name']['fr'] ?></td>
                    <td data-title="dégâts"><?= $fastmove['damage'] ?></td>
                    <td data-title="dégâts/s"><?= $fastmove['dps'] ?></td>
                    <td data-title="energie"><?= $fastmove['energy'] ?></td>
                    <td data-title="energie/s"><?= $fastmove['eps'] ?></td>
                    <td data-title="durée"><?= $fastmove['duration'] ?></td>
                </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
        <div class="title">Attaques Chargées :</div>
        <div class="attacks">
            <table>
                <thead>
                <tr>
                    <th>type</th>
                    <th>nom</th>
                    <th>dégât</th>
                    <th>dégât/s</th>
                    <th>energie</th>
                    <th>durée</th>
                    <th>emplacement</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($pokemon['mainmove'] as $mainmove) : ?>
                <tr>
                    <td data-title="type"><img src="<?= $mainmove['type']['img'] ?>" alt="<?= $mainmove['type']['name']['fr'] ?>"></td>
                    <td data-title="nom"><?= $mainmove['name']['fr'] ?></td>
                    <td data-title="dégâts"><?= $mainmove['damage'] ?></td>
                    <td data-title="dégâts/s"><?= $mainmove['dps'] ?></td>
                    <td data-title="energie"><?= $mainmove['energy'] ?></td>
                    <td data-title="durée"><?= $mainmove['duration'] ?></td>
                    <td data-title="emplacement"><?= $mainmove['slot'] ?></td>
                </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
    </div>
    <?php endif ?>
</section>

