{
  "openapi": "3.0.1",
  "info": {
    "title": "Pogopi",
    "description": "This is a simple pokémon go api.",
    "version": "0.1"
  },
  "externalDocs": {
    "description": "Pogopi source code",
    "url": "http://github.com/duduclx/pogopi"
  },
  "servers": [
    {
      "url": "http://pogo.kenko-shiatsu-grenoble.fr/api"
    },
    {
      "url": "http://localhost/pogopi/api"
    }
  ],
  "tags": [
    {
      "name": "abilitie",
      "description": "pokemons abilities"
    },
    {
      "name": "fastmove",
      "description": "pokemons fast attack"
    },
    {
      "name": "generation",
      "description": "pokemons generations"
    },
    {
      "name": "mainmove",
      "description": "pokemons charged attacks"
    },
    {
      "name": "pokeball",
      "description": "pokeballs"
    },
    {
      "name": "pokemon-full",
      "description": "pokemons full informations"
    },
    {
      "name": "pokemon-tiny",
      "description": "pokemons minimal informations"
    },
    {
      "name": "team",
      "description": "team trainers"
    },
    {
      "name": "type",
      "description": "pokemons types"
    },
    {
      "name": "version",
      "description": "api's version"
    }
  ],
  "paths": {
    "/abilitie/all": {
      "get": {
        "tags": [
          "abilitie"
        ],
        "summary": "list all abilities",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abilitie"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/abilitie/max": {
      "get": {
        "tags": [
          "abilitie"
        ],
        "summary": "Return number of abilities",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abilitie"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/abilitie/id/{id}": {
      "get": {
        "tags": [
          "abilitie"
        ],
        "summary": "abilitie by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abilitie"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/abilitie/name/{intl}/{name}": {
      "get": {
        "tags": [
          "abilitie"
        ],
        "summary": "abilitie by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Abilitie"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/fastmove/all": {
      "get": {
        "tags": [
          "fastmove"
        ],
        "summary": "list all fast attacks",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fastmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/fastmove/max": {
      "get": {
        "tags": [
          "fastmove"
        ],
        "summary": "return number of fast attacks",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fastmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/fastmove/id/{id}": {
      "get": {
        "tags": [
          "fastmove"
        ],
        "summary": "fast attack by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fastmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/fastmove/name/{intl}/{name}": {
      "get": {
        "tags": [
          "fastmove"
        ],
        "summary": "fast attack by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fastmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/fastmove/type/{id-name}": {
      "get": {
        "tags": [
          "fastmove"
        ],
        "summary": "fast attack by type's id or name",
        "parameters": [
          {
            "name": "id-name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fastmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/generation/all": {
      "get": {
        "tags": [
          "generation"
        ],
        "summary": "list all generations",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Generation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/generation/max": {
      "get": {
        "tags": [
          "generation"
        ],
        "summary": "return number of generations",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Generation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/generation/id/{id}": {
      "get": {
        "tags": [
          "generation"
        ],
        "summary": "generation by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Generation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/generation/name/{name}": {
      "get": {
        "tags": [
          "generation"
        ],
        "summary": "generation by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Generation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/mainmove/all": {
      "get": {
        "tags": [
          "mainmove"
        ],
        "summary": "list of charged attacks",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mainmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/mainmove/max": {
      "get": {
        "tags": [
          "mainmove"
        ],
        "summary": "return number of charged attacks",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "items": {
                    "$ref": "#/components/schemas/Mainmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/mainmove/id/{id}": {
      "get": {
        "tags": [
          "mainmove"
        ],
        "summary": "charged attack by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mainmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/mainmove/name/{intl}/{name}": {
      "get": {
        "tags": [
          "mainmove"
        ],
        "summary": "charged attack by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mainmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/mainmove/type/{id-name}": {
      "get": {
        "tags": [
          "mainmove"
        ],
        "summary": "charged attack by type's id or name",
        "parameters": [
          {
            "name": "id-name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mainmove"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/pokeball/all": {
      "get": {
        "tags": [
          "pokeball"
        ],
        "summary": "list all pokeballs",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokeball"
                }
              }
            }
          }
        }
      }
    },
    "/pokeball/max": {
      "get": {
        "tags": [
          "pokeball"
        ],
        "summary": "return number of pokeballs",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokeball"
                }
              }
            }
          }
        }
      }
    },
    "/pokeball/id/{id}": {
      "get": {
        "tags": [
          "pokeball"
        ],
        "summary": "pokeball by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokeball"
                }
              }
            }
          },
          "404": {
            "description": "Pokeball not found",
            "content": {}
          }
        }
      }
    },
    "/pokeball/name/{name}": {
      "get": {
        "tags": [
          "pokeball"
        ],
        "summary": "pokeball by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokeball"
                }
              }
            }
          },
          "404": {
            "description": "Pokeball not found",
            "content": {}
          }
        }
      }
    },
    "/pokeball/generation/{id}": {
      "get": {
        "tags": [
          "pokeball"
        ],
        "summary": "pokeball by generations number",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokeball"
                }
              }
            }
          },
          "404": {
            "description": "Pokeball not found",
            "content": {}
          }
        }
      }
    },
    "/pokemon/max": {
      "get": {
        "tags": [
          "pokemon"
        ],
        "summary": "return number of pokemons",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/full/all/{id-order}": {
      "get": {
        "tags": [
          "pokemon-full"
        ],
        "summary": "get them all",
        "parameters": [
          {
            "name": "id-order",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/full/id/{id}": {
      "get": {
        "tags": [
          "pokemon-full"
        ],
        "summary": "pokemon by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/pokemon/full/name/{intl}/{name}": {
      "get": {
        "tags": [
          "pokemon-full"
        ],
        "summary": "pokemon by Name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/pokemon/full/generation/{id}": {
      "get": {
        "tags": [
          "pokemon-full"
        ],
        "summary": "pokemons by generation number",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/pokemon/full/order/{id}": {
      "get": {
        "tags": [
          "pokemon-full"
        ],
        "summary": "pokemon by order number",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          },
          "404": {
            "description": "Pokemon not found",
            "content": {}
          }
        }
      }
    },
    "/pokemon/full/type/{id-name}": {
      "get": {
        "tags": [
          "pokemon-full"
        ],
        "summary": "pokemon by type's id or name",
        "parameters": [
          {
            "name": "id-name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/pokemon/tiny/all/{id-order}": {
      "get": {
        "tags": [
          "pokemon-tiny"
        ],
        "summary": "get them all",
        "parameters": [
          {
            "name": "id-order",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonTiny"
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/tiny/id/{id}": {
      "get": {
        "tags": [
          "pokemon-tiny"
        ],
        "summary": "pokemon by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonTiny"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/pokemon/tiny/name/{intl}/{name}": {
      "get": {
        "tags": [
          "pokemon-tiny"
        ],
        "summary": "pokemon by Name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonTiny"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/pokemon/tiny/generation/{id}": {
      "get": {
        "tags": [
          "pokemon-tiny"
        ],
        "summary": "pokemons by generation number",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonTiny"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/pokemon/tiny/order/{id}": {
      "get": {
        "tags": [
          "pokemon-tiny"
        ],
        "summary": "pokemon by order number",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonTiny"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          },
          "404": {
            "description": "Pokemon not found",
            "content": {}
          }
        }
      }
    },
    "/pokemon/tiny/type/{id-name}": {
      "get": {
        "tags": [
          "pokemon-tiny"
        ],
        "summary": "pokemon by type's id or name",
        "parameters": [
          {
            "name": "id-name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PokemonTiny"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/team/all": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "Returns all teams",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        }
      }
    },
    "/team/id/{id}": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "team by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/team/name/{intl}/{name}": {
      "get": {
        "tags": [
          "team"
        ],
        "summary": "team by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "content": {}
          }
        }
      }
    },
    "/type/all": {
      "get": {
        "tags": [
          "type"
        ],
        "summary": "list of type",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/type/max": {
      "get": {
        "tags": [
          "type"
        ],
        "summary": "return number of type",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/type/id/{id}": {
      "get": {
        "tags": [
          "type"
        ],
        "summary": "type by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/type/name/{intl}/{name}": {
      "get": {
        "tags": [
          "type"
        ],
        "summary": "type by name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intl",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Type"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": [
          "version"
        ],
        "summary": "api's version",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Version"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Abilitie": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          },
          "name": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          }
        },
        "xml": {
          "name": "abilitie"
        }
      },
      "Fastmove": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "damage": {
            "type": "integer"
          },
          "dps": {
            "type": "integer"
          },
          "energy": {
            "type": "integer"
          },
          "eps": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "name": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          },
          "sound": {
            "type": "string"
          },
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            }
          }
        },
        "xml": {
          "name": "fastmove"
        }
      },
      "Generation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        },
        "xml": {
          "name": "generation"
        }
      },
      "Mainmove": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "damage": {
            "type": "integer"
          },
          "dps": {
            "type": "integer"
          },
          "energy": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "slot": {
            "type": "integer"
          },
          "sound_fx": {
            "type": "string"
          },
          "name": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          },
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            }
          }
        },
        "xml": {
          "name": "mainmove"
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "color_en": {
            "type": "string"
          },
          "color_fr": {
            "type": "string"
          },
          "img_player": {
            "type": "string"
          },
          "img_pngXl": {
            "type": "string"
          },
          "img_pngXs": {
            "type": "string"
          },
          "img_svg": {
            "type": "string"
          },
          "name_en": {
            "type": "string"
          },
          "name_fr": {
            "type": "string"
          },
          "player_en": {
            "type": "string"
          },
          "player_fr": {
            "type": "string"
          }
        },
        "xml": {
          "name": "Team"
        }
      },
      "Type": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "img": {
            "type": "string"
          },
          "name": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          }
        },
        "xml": {
          "name": "Type"
        }
      },
      "Pokeball": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "img": {
            "type": "string"
          },
          "generation": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "xml": {
          "name": "Pokeball"
        }
      },
      "Pokemon": {
        "type": "object",
        "properties": {
          "abilities": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "integer"
                },
                "generation": {
                  "type": "integer"
                },
                "fr": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "en": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "evolve": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "integer"
                },
                "level": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "from": {
                        "type": "integer"
                      },
                      "to": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "stats_classic": {
            "type": "array",
            "items": {
              "properties": {
                "attack": {
                  "type": "integer"
                },
                "attack_spe": {
                  "type": "integer"
                },
                "base_experience": {
                  "type": "integer"
                },
                "base_happiness": {
                  "type": "integer"
                },
                "defense": {
                  "type": "integer"
                },
                "defense_spe": {
                  "type": "integer"
                },
                "hp": {
                  "type": "integer"
                },
                "speed": {
                  "type": "integer"
                }
              }
            }
          },
          "stats_common": {
            "type": "array",
            "items": {
              "properties": {
                "height": {
                  "type": "number"
                },
                "weight": {
                  "type": "number"
                }
              }
            }
          },
          "stats_go": {
            "type": "array",
            "items": {
              "properties": {
                "attack": {
                  "type": "integer"
                },
                "defense": {
                  "type": "integer"
                },
                "hp": {
                  "type": "integer"
                },
                "pc": {
                  "type": "integer"
                },
                "stamina": {
                  "type": "integer"
                },
                "buddy_walk": {
                  "type": "integer"
                },
                "capture_rate": {
                  "type": "integer"
                },
                "escape_rate": {
                  "type": "integer"
                }
              }
            }
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          },
          "order": {
            "type": "integer"
          },
          "pokedex": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "scream": {
            "type": "string"
          },
          "specie": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          },
          "fastmove": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fastmove"
            }
          },
          "mainmove": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mainmove"
            }
          },
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            }
          }
        },
        "xml": {
          "name": "Pokemon"
        }
      },
      "PokemonTiny": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "image": {
            "type": "string"
          },
          "name": {
            "type": "array",
            "items": {
              "properties": {
                "fr": {
                  "type": "string"
                },
                "en": {
                  "type": "string"
                }
              }
            }
          },
          "order": {
            "type": "integer"
          },
          "pokedex": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            }
          }
        },
        "xml": {
          "name": "Pokemon"
        }
      },
      "Version": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int64"
          }
        },
        "xml": {
          "name": "Version"
        }
      }
    }
  }
}