@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.box {
    border: #333d67 1px solid;
    padding: 20px;
    background-color: #d9d9d9;
    box-shadow: #001b44 0 0 3px 1px;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
    width: 60%;
}

.errors p {
    color: red;
}

.hidden {
    display: none;
}

.navbar {

}

.navbar img {
    width: 150px;
    height: auto;
}

.next {
    padding: 6px 8px;
    text-decoration: none;
    color: #fecb29;
    background-color: #446aaf;
    border: 2px #333d67 solid;
    margin: 0 0 0 80%;
    display: inline-block;
}

.welcome {

}