@charset "UTF-8";

/*
COMMON
 */
html, body {
    touch-action: manipulation;
}
.hide {
    display: none !important;
}

/*
SCORE
 */
.score {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.action,
.howto-button {
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
    background-color: #82c72e;
    color: inherit;
    font-weight: 900;
    font-size: 1rem;
}

/*
VERSUS
 */
.presentation {
    position: relative;
    height: 480px;
    max-width: 800px;
    margin: 0 auto;
}
.versus-separator {
    height: 6px;
    width: 100%;
    background-color: #f0f0f0;
    opacity: 0;
}
.versus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.versus img {
    width: 200px;
    height: auto;
}
.presentation-player,
.presentation-computer {
    background-color: #0d5aa7;
    height: 237px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.presentation-computer {
    background-color: #ff4136;
    align-items: flex-end;
}
.presentation-player-img,
.presentation-computer-img {
    width: 50%;
    text-align: center;
}
.presentation-player img,
.presentation-computer img {
    width: 200px;
    height: auto;
    max-width: 100%;
}
.presentation-player-details,
.presentation-computer-details {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.presentation-player-name,
.presentation-computer-name {
    display: inline-block;
}
.presentation-player-type,
.presentation-computer-type {
    display: inline-block;
    vertical-align: middle;
}
.presentation-player-type img,
.presentation-computer-type img {
    width: 60px;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 796px) {
    .presentation-player-type img,
    .presentation-computer-type img {
        width: 40px;
    }
}
.from-left {
    animation: from-left 1s ease-out forwards;
}
@keyframes from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.from-right {
    animation: from-right 1s ease-out forwards;
}
@keyframes from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
.from-opacity {
    animation: from-opacity 1s ease-out forwards 1s;
}
@keyframes from-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
/*
ARENA BOX
 */
.arena {
    display: block;
    position: relative;
    height: 480px;
    background: #19a974 url("../images/battle-background.png") center center / cover;
    box-shadow: 0 0 10px 4px black;
    max-width: 800px;
    margin: 0 auto;
}
/*
ARENA TOP
 */
.arena-life {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px 0;
}
.player-life,
.computer-life {
    width: 50%;
    text-align: center;
    margin: 0 4px;
}
.player-details,
.computer-details {
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    margin-bottom: 4px;
}
.player-type,
.player-name,
.computer-type,
.computer-name {
    display: inline-block;
    vertical-align: middle;
}
.player-type,
.computer-type {
}
.player-type img,
.computer-type img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}
.player-bar,
.computer-bar {
    display: flex;
    justify-content: center;
}
.player-hp,
.computer-hp {
    background-color: gray;
    border: 2px yellow solid;
    border-radius: 5px;
    transform: skewX(-10deg);
    display: block;
    width: 80%;
    max-width: 100%;
}
@media (max-width: 796px) {
    .player-name,
    .computer-name {
        font-size: 0.8rem;
    }
}
/*
ARENA MIDDLE
 */
.arena-battle {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 350px;
}
.player-pokemon,
.computer-pokemon {
    width: 50%;
}
.player-pokemon {
    position: absolute;
    bottom: 0;
    left: 50px;
}
.computer-pokemon {
    position: absolute;
    bottom: 90px;
    right: 50px;
    text-align: right;
}
.player-pokemon img,
.computer-pokemon img {
    width: 50%;
}
.player-attack {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.player-attack img {
    border: 2px white solid;
    border-radius: 50%;
    opacity: 0.3;
}
.player-attack-enable {
    opacity: 1 !important;
}
@media (max-width: 600px) {
    .player-pokemon {
        bottom: 10%;
        left: 5%;
    }
    .computer-pokemon {
        bottom: 40%;
        right: 5%;
    }
    .player-pokemon img,
    .computer-pokemon img {
        width: 80%;
    }
}
/*
COUNTER
 */
.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fw-counter-0,
.fw-counter-1,
.fw-counter-2,
.fw-counter-3 {
    width: 0;
    transition: all 1s;
}
.counter-animation {
    width: 100px;
    transform: scale(4);
}
/*
END BATTLE
 */
.result {
    display: block;
    height: 480px;
    box-shadow: 0 0 10px 4px black;
    max-width: 800px;
    margin: 0 auto;
    background: linear-gradient(0.1turn, blue, #dadada, red);
}
.winner {
    text-align: center;
}
.winner p {
    padding: 10px;
    color: #000;
    font-weight: 900;
}
.winner img {
    margin: 0 auto;
    display: block;
    max-height: 300px;
    padding: 8px;
}
.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.replay,
.change {
    margin: 30px 0;
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    color: inherit;
    font-size: 1rem;
    box-shadow: 0 0 4px 2px black;
}
.replay {
    background-color: #49cc90;
}
.replay:hover {
    background-color: #19a974;
}
.change {
    background-color: #11a8bf;
    text-decoration: none;
}
.change:hover {
    background-color: #1f69c0;
}
