@charset "UTF-8";
/*
FONT
 */
@import url('https://fonts.googleapis.com/css?family=Heebo|Poppins&display=swap');
/*
DEFAULT
 */
*{
    box-sizing: border-box;
}
html {
    font-size: 1.2rem;
}
body {
    margin: 0;
    padding: 0;
    background-color: #2f303a;
    color: white;
    font-family: 'Heebo', sans-serif;
}
h3, h4, h5, h6 {
    margin-top: 0;
}
.invisible {
    visibility: hidden;
}
.mb-8 {
    margin-bottom: 8px;
}
/*
HEADER
 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 100px;
    height: auto;
}
.header .brand-logo {
    display: flex;
    color: inherit;
    align-items: center;
    text-decoration: none;
}
.header .brand-logo-name {
    margin-left: 1rem;
    font-family: 'Poppins', sans-serif;
}
.header .version {
    font-size: 0.6rem;
}
.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.header .mobile-nav {
    display: none;
    font-size: 1.6rem;
    margin-right: 20px;
}
.mobile-menu {
    text-align: center;
    background-color: #2f303a;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 15px;
    background-color: #5f9ea0;
    border-radius: 8px;
}
.mobile-menu a {
    display: block;
    padding: 40px;
    color: inherit;
    text-decoration: none;
}
.mobile-menu li:hover {
    color: #adadad;
    border-radius: 8px;
    background-color: #1f69c0;
}
.mobile-menu-in {
    animation: menu-in 0.5s linear forwards;
}
@keyframes menu-in {
    0% { opacity: 0}
    100% {opacity: 1}
}
.mobile-arrow {
    visibility: hidden;
    padding: 6px;
    position: fixed;
    bottom: 10%;
    right: 30px;
    font-size: 1.6rem;
}
.header a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}
.header a:hover {
    color: #adadad;
}
.version {
    text-align: right;
    font-size: 0.6rem;
    padding: 0 15px;
}
.install-warning {
    text-align: center;
    border: 2px #d9534f solid;
    background-color: #d9534f;
    border-radius: 5px;
}
@media (max-width: 796px) {
    .brand-logo-name {
        display: none;
    }
    .desktop-nav {
        display: none;
    }
    .header .mobile-nav {
        display: block;
    }
    .mobile-arrow {
        visibility: visible;
        padding: 20px;
        z-index: 100;
    }
}
/*
CONTENTS
 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container h1 {
    text-align: center;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.content-left,
.content-right,
.content-full {
    padding: 10px;
    font-size: 0.8rem;
    display: block;
    border: 2px white solid;
    border-radius: 10px;
    min-width: 40%;
    flex: 1;
}
.content-full {
    flex: 0 0 100%;
    margin-bottom: 1em;
}
.content-left {
    width: 50%;
    margin: 0 1em 1em 0;
}
.content-right {
    width: 50%;
    margin: 0 0 1em 1em;
}
.content-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
@media (max-width: 796px) {
    .content {
        display: block;
    }
    .content-full {
        font-size: 1rem;
    }
    .content-left,
    .content-right {
        width: 100%;
        margin: 20px 0;
        font-size: 1rem;
    }
}
/*
PAGES
 */
.content strong,
.content span {
    color: #1f69c0;
}
.content a {
    color: #19a974;
    text-decoration: none;
}
.content a:hover {
    color: #49cc90;
}
.btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    border: none;
    background-color: #1f69c0;
    white-space: nowrap;
}
.btn:hover {
    background-color: #61affe;
}
.btn-more {
    padding: 2px 12px;
    font-size: 0.8rem;
    background-color: #11a8bf;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}
.btn-battle {
    padding: 2px 12px;
    font-size: 0.8rem;
    background-color: #82c72e;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}
.btn-battle:hover {
    background-color: #94e334;
}
.center {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.right {
    text-align: right;
}
@media (max-width: 796px) {
    .btn-battle,
    .btn-more {
        width: 50%;
        padding: 8px;
        margin: 0 1em;
    }
}
/*
PAGE POKEMON
 */
.search {
    width: 20%;
    text-align: center;
    border: 2px white solid;
    border-radius: 10px;
}
.search h3:first-child {
    margin-top: 8px;
}
.search a {
    color: #19a974;
    text-decoration: none;
}
.search a:hover {
    color: #49cc90;
}
.search hr {
    width: 80%;
}
.search .types-img img:hover {
    transform: scale(1.4);
}
.search .generation-list {
    margin-bottom: 8px;
}
.more {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.types-title {
    margin: 0;
}
.types-img img {
    width: 30%;
}
.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
}
.pokemons .avatar {
    width: 45px;
    height: auto;
}
.pokemons .types-img {
    width: 45px;
    height: auto;
}
.pokemons a:hover img{
    transform: scale(1.4);
}
.pokemon {
    position: relative;
    display: block;
    margin: 0 4px 4px;
    padding: 10px;
    border: 2px white solid;
    border-radius: 10px;
    text-align: center;
    flex: 1 0 20%;
}
.pokemon .id {
    padding-right: 6px;
    position: absolute;
    top: 0;
    right: 0;
}
.pokemon .pokedex {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-30deg);
    padding: 4px;
    font-size: 0.6em;
}
.pokemon-detail {
    position: relative;
    display: block;
    margin: 0 4px;
    padding: 10px;
    border: 2px white solid;
    border-radius: 10px;
    flex: 1;
}
.pokemon-detail .title {
    text-align: center;
    font-size: 1.2em;
}
.pokemon-detail .credential {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
}
.pokemon-detail .type {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.pokemon-detail .avatar {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.pokemon-detail .types-img {
    width: 60px;
    height: auto;
}
.content-stats {
    display: flex;
    justify-content: space-between;
}
.stats {
    width: 50%;
    margin: 4px;
    text-align: left;
}
.stats table {
    width: 100%;
    border: 2px white solid;
    border-radius: 10px;
}
.stats td {
    padding: 4px;
    width: 50%;
}
.attacks {
    text-align: center;
}
.attacks table {
    width: 100%;
    /*border-collapse: collapse;*/
    border: 2px white solid;
    border-radius: 10px;
    overflow: hidden;
}
.attacks img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}
@media (max-width: 796px) {
    h3 {
        margin: 0;
    }
    .search {
        width: 100%;
    }
    .search .types-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .search .types-img {
        width: 11%;
    }
    .search .types-img img {
        width: 100%;
        height: auto;
    }
    .pokemon-detail {
        width: 100%;
        margin: 8px 0;
    }
    .pokemon-detail .type {
        top: 90px;
    }
    .pokemon-detail .types-img {
        width: 80%;
        height: auto;
    }
    .pokemon-detail .credential {
        position: inherit;
    }
    .generation {
        display: inline;
        width: 20%;
        padding: 10px;
    }
    .pokemons {
        width: 100%;
        margin-top: 8px;
    }
    .pokemon {
        flex: 1 0 40%;
    }
    .content-stats {
        flex-wrap: wrap;
    }
    .stats {
        width: 100%;
    }
    .stats table {
        text-align: center;
    }
    .attacks {
        width: 100%;
    }
}
/*
TABLE RESPONSIVE
 */
@media (max-width: 600px) {
    .attacks td:before {
        content: attr(data-title);
    }
    .attacks table,
    .attacks table thead,
    .attacks table tbody,
    .attacks table th,
    .attacks table tr,
    .attacks table td
    {
        display: block;
    }
    .attacks thead tr {
        display:none;
    }

    .attacks td {
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: center;
    }

    .attacks td:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 100%;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        text-align: center;
        padding: 2px;
    }
    .attacks table tbody tr td:last-child {
        border-bottom: 2px white solid;
    }
    .attacks table tbody tr:last-child td:last-child {
        border-bottom: 0 white solid;
    }
}
/*
FOOTER
 */
.footer {
    text-align: center;
    font-size: 0.6rem;
    margin: 10px 0;
}
.footer a {
    text-decoration: none;
    color: inherit;
}
.footer .fab {
    margin-top: 5px;
}
